<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gy.play_mine">
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.activity.CommonActivity"></activity>
        <activity android:name=".ui.activity.MineSettingActivity" />
        <activity android:name=".ui.activity.MineShareActivity" />
        <activity android:name=".ui.activity.MineTodoActivity" />
        <activity android:name=".ui.activity.MineScoreActivity" />
        <activity android:name=".ui.activity.MineRankActivity" />
        <activity android:name=".ui.activity.MineRegisterActivity" />
        <activity android:name=".ui.activity.MineLoginActivity" />
    </application>

</manifest>